{{set . "title" "LoL Cruncher"}}
{{append . "pageScripts" "bootstrap.min.js"}}
{{append . "pageScripts" "handlebars-v2.0.0.js"}}
{{append . "pageScripts" "search.js"}}
{{append . "pageScripts" "database.js"}}
{{append . "pageStyles" "home.css"}}
{{template "header.html" .}}

<div class="landing">
	<div class="title-container centered">
	<h1>LoL Cruncher</h1><span class="beta">Alpha</span></div>
	<p class="centered subtitle">A League of Legends Historical Statistics Tracker</p>
	<div class="error-container">
		{{if .flash.error}}
			<p>{{.flash.error}}</p>
		{{end}}
	</div>
	<div class="info-container">
		<p>
			<strong>Janurary 21st ~7:00 PM UTC</strong><br>
			The database structure has changed in order to provide more statistics,
			this meant having to clear the previous database data and thus resetting your older statistics.
			Some things may also break due to these major changes.
			Sorry for any inconvenience caused.
		</p>
	</div>
	<div class="search-container">
		<input class="search-box" type="text" name="query" id="fake-search" autocomplete="off" placeholder="Enter summoner name">
	</div>
</div>
<div class="search">
	<input class="real search-box" type="text" name="query" id="real-search" autocomplete="off">
	<div class="search-results">

	</div>
</div>

{{template "footer.html" .}}
