{{set . "description" "Monitor and track your League of Legends statistics for any queue!"}}
{{set . "title" "LoL Cruncher"}}
{{append . "pageScripts" "handlebars-v2.0.0.js"}}
{{append . "pageScripts" "search.js"}}
{{append . "pageScripts" "lz-string.min.js"}}
{{append . "pageScripts" "database.js"}}
{{append . "pageStyles" "home.css"}}
{{template "header.html" .}}

<div class="landing">
	<div class="title-container centered">
	<h1>LoL Cruncher</h1><span class="beta">Beta</span></div>
	<p class="centered subtitle">A League of Legends Statistics Tracker and Monitor</p>
	<div class="error-container">
		{{if .flash.error}}
			<p>{{.flash.error}}</p>
		{{end}}
	</div>
	<div class="search-container">
		<input class="search-box" type="text" name="query" id="fake-search" autocomplete="off" placeholder="Enter summoner name">
		<p class="centered example"><a href="/kr/Hide%20on%20bush">Try Faker (Hide on bush) as an example!</a></p>
	</div>
</div>
<div class="search">
	<input class="real search-box" type="text" name="query" id="real-search" autocomplete="off">
	<div class="search-results">

	</div>
</div>

{{template "footer.html" .}}
