
{{set . "title" .titleName}}
{{append . "pageScripts" "handlebars-v2.0.0.js"}}
{{append . "pageScripts" "transition.min.js"}}
{{append . "pageScripts" "dropdown.min.js"}}
{{append . "pageScripts" "search.js"}}
{{append . "pageScripts" "stats-templates.js"}}
{{append . "pageScripts" "stats.js"}}
{{append . "pageScripts" "lz-string.min.js"}}
{{append . "pageScripts" "database.js"}}
{{append . "pageStyles" "common/transition.min.css"}}
{{append . "pageStyles" "common/dropdown.min.css"}}
{{append . "pageStyles" "stats.css"}}
{{template "header.html" .}}

<div class="search">
	<input class="real search-box" type="text" name="query" id="real-search" placeholder="Search" autocomplete="off">
	<div class="search-results">

	</div>
</div>
<div id="main" class="container">
		<div class="row">
			<div class="profile-container col-xs-12">
				{{if .new}}
				<div class="alert alert-success">
					<p>{{.name}} has now been registered and will be monitored for statistics</p>
				</div>
				{{end}}
				<div class="profile">
					<!-- profileTemplate in stats-templates.js -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="filters-area">
					<!-- filtersAreaTemplate in stats-templates.js -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="left-column col-md-6">
				<div class="general-card">
					<!-- generalCardTemplate in stats-templates.js -->
				</div>
				<div class="more-champions">

				</div>
			</div>
			<div class="right-column col-md-6">
				<div class="champion-search">
					<input id="champion-input" type="text" placeholder="Filter champions">
				</div>
				<div class="champion-cards">
					<!-- championCardTemplate in stats-templates.js -->
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var playerData = {{.player}}
var summonerName = {{.name}}
</script>


{{template "footer.html" .}}
