{{set . "title" "LoL Cruncher"}}
{{append . "pageStyles" "error.css"}}
{{template "header.html" .}}

<div class="error-container">
<h1>Database Error</h1>
</div>
<div class="reason container">
<div class="col-md-offset-2 col-md-8">
	<p>
		There was a problem while trying to connect to the database. Try again in a few
		seconds. If the problem persists, contact me at
		<a href="mailto:1lanncontact@gmail.com">1lanncontact@gmail.com</a> or
		on
		<a href="http://www.reddit.com/message/compose?to=1lann&amp;subject=omg+lolcruncher+isn%27t+working,+fix+plz.">
		reddit at /u/1lann</a>.
	</p>
</div>
</div>

{{template "footer.html" .}}

